.benefits {
  display: flex;

  @include phones {
    flex-direction: column;
  }
}

.benefits___item {
  flex: 1;
  margin: 0 3%;
  position: relative;
  
  @include phones {
    padding: 0;
    margin-bottom: rem(19px);
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}