.section {
  height: 100vh;
  min-height: rem(650px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.section__title {
  font-size: rem(48px);
  font-weight: bold;
  margin-bottom: rem(55px);
  text-align: center;
  text-transform: uppercase;
  color: black;

  &--white {
    color: #fff;

    @include tablets {
      margin-bottom: rem(30px);
    }
  }

  @include phones {
    font-size: rem(40px);
  }
}

.order-section {
  background: #2B2B2B;
  color: #fff;


}

.map {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  justify-content: center;
}



/*.order-section__container {
  @include tablets {
    padding-top: rem(176px);
    padding-bottom: rem(180px);
  }
}*/



